html, body {
  height: 100%;
}


body {
  font-family: 'Segoe UI', sans-serif;
}

#wrapper {
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 250px;
  display: flex;
  flex-direction: column;
}

#page-content {
  position: relative;
  z-index: auto;
  flex-grow: 1;
  background-color:#faf9fa;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}


#welcomeText{
  padding-bottom: 20px;
}

/* Box Styling */
.card {
  height: 200px;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
}


nav.navbar {
  min-height: 100vh;
}

#loadingOverlay {
  display: none;
  position: fixed;
  z-index: 1055;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.8);
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  perspective: 1000px; /* Enables 3D rotation */
}

.denr-spin {
  animation: spinY 1.5s linear infinite;
  transform-origin: center;
  transform-style: preserve-3d;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4)); /* Adds thickness */
}

@keyframes spinY {
  0%   { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

@media (max-width: 767.98px) {
  nav.navbar {
    min-height: auto;
    width: 100%;
  }
}
