#loadingOverlay {
  display: flex;
}

.table td, .table th {
  vertical-align: middle;
}

.btn i {
  vertical-align: middle;
}

.modal-body {
  max-height: 70vh;
}

#scrollableTableWrapper {
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.property-accountability-table {
  min-width: 1000px;
}

.modal-xl-custom {
  max-width: 95% !important;
  width: 95%;
}

.modal-fullscreen-custom {
  max-width: 98% !important;
  width: 98%;
  margin: auto;
}

.modal-body {
  padding: 0 !important;
}

.modal-body embed {
  width: 100%;
  height: 95vh;
  display: block;
}

#searchInput.form-control {
  background-color: #f9fcff;
  border: 1px solid #64b5f6;
  color: #1565c0;
  font-weight: 500;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#searchInput::placeholder {
  color: #90caf9;
}

#searchInput:focus {
  border-color: #42a5f5;
  box-shadow: 0 0 6px rgba(100, 181, 246, 0.3);
  outline: none;
}

.btn-water {
  background-color: #ffffff;
  color: #117a8b;
  border: 1px solid #117a8b;
  transition: all 0.2s ease-in-out;
}

.btn-water:hover {
  background-color: #117a8b;
  color: #ffffff;
}

.btn-water-alt {
  background-color: #e0f0fb;
  color: #0d6efd;
  border: 1px solid #0d6efd;
  transition: all 0.2s ease-in-out;
}

.btn-water-alt:hover {
  background-color: #0d6efd;
  color: #ffffff;
}
